/* Global styles */

a {
	text-decoration: none;
	font-size: 11px;
}

button {
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.flexboxheader {
	align-items: center;
	-webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
	margin: 0;
	padding: 0;
}

.flexbox_wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding: .6rem;

}

.logo_wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
}

.masthead_left {
	display: flex;
	flex: 0 1 auto;
	justify-content: flex-start;
	justify-content: space-around;
}

.masthead_center {
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
}

.masthead_right {
	flex: 0 1 auto;
	justify-content: flex-end;
}

/* theme specific headers*/

.yt {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

/* buttons */
.header_button_yt {
  border: solid 1px transparent;
  border-radius: 2px;
}

.sign_in {
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-color: #167ac6;
  background: #167ac6;
  color: #fff;
  padding: .6em 1em;
}

.upload {
	border-color: #d3d3d3;
  background: #f8f8f8;
  color: #333;
  margin-right: 15px;
  padding: .6em 1em;
}

.upload, .sign_in {
	height: 29px;
}

.icon, .icon_sm {
	color: #333;
}

.icon {
	font-size: 14px;
}

.icon_sm {
	font-size: 10px;
}

/* form elements */
.flexbox_field {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
	-webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: .5em .75em;
}


.flexbox_field-item {
	background-color: #f8f8f8;
	border: solid 1px transparent;
	border-color: #d3d3d3;
	border-radius: 0px 2px 2px 0px;
	padding: 0em 1.9em;

}

.burger_button {
	border: solid 1px transparent;
  background: none;
  box-shadow: none;
  outline: 0;
}

.button_container {
	align-items: center;
	display: flex;
}

.button_container:hover {
	border: 1px solid;
	border-radius: 2px;
}

/* nyt */
.masthead_menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	width: 570px;
}


.masthead_lower_nyt {
  min-height: 90px;
  padding: 8px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 2px solid #000;
}

.masthead_menu li {
	padding: 0 10;
	font: 11px;
}

/* youtube */
.masthead_left_yt {
	width: 130px;
}
.masthead_center_yt {
	width: 585px;
	height: 29px;
}

.burger_button_yt {
	color: #333;
	height: 28px;
	padding: 0 10px;
}

.button_container_yt {
	border-color: #c6c6c6;
	border-radius: 2px;
	margin-left: 3px;
}

.button_container_yt:hover {
	background: #f0f0f0;
	border-color: #c6c6c6;
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
	margin-left: 3px;
}