/* Global styles */

a {
	text-decoration: none;
	font-size: 11px;
}

button {
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

ul {
	list-style: none;
}

.flexboxheader {
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin: 0;
  padding: 0;
}

.flexbox_wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: .6rem;

}

.logo_wrapper {
	display: flex;
  align-items: center;
  justify-content: center;
}

.masthead_left {
	display: flex;
	flex: 0 1 auto;
	justify-content: flex-start;
	justify-content: space-around;
}

.masthead_center {
	display: flex;
	flex: 0 1 auto;
	justify-content: center;
}

.masthead_right {
	flex: 0 1 auto;
	justify-content: flex-end;
}

/* theme specific headers*/

.am {
	 background-color: #232f3e;
}

.yt {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

/* buttons */
.header_button_yt {
  border: solid 1px transparent;
  border-radius: 2px;
}

.sign_in {
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border-color: #167ac6;
  background: #167ac6;
  color: #fff;
  padding: .6em 1em;
}

.upload {
	border-color: #d3d3d3;
  background: #f8f8f8;
  color: #333;
  margin-right: 15px;
  padding: .6em 1em;
}

.upload, .sign_in {
	height: 29px;
}

.icon, .icon_sm {
	color: #333;
}

.icon {
	font-size: 14px;
}

.icon_sm {
	font-size: 10px;
}

.icon_lg {
	font-size: 25px;
}

/* form elements */
.flexbox_field {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
	-webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: .5em .75em;
}


.flexbox_field-item {
	background-color: #f8f8f8;
	border: solid 1px transparent;
	border-color: #d3d3d3;
	border-radius: 0px 2px 2px 0px;
	padding: 0em 1.9em;

}

.burger_button {
	border: solid 1px transparent;
  background: none;
  box-shadow: none;
  outline: 0;
}

.button_container {
	align-items: center;
	display: flex;
}

.button_container:hover {
	border: 1px solid;
	border-radius: 2px;
}

/* Amazon */
.logo_wrapper_container{
	position: relative;
	width: 192px;
}

.logo_tagline {
	color: #48a3c6;.
	font-family: arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	left: 93px;
	line-height: 11px;
	position: absolute;
	text-decoration: underline;
	top: 31px;
}

.masthead_left_am {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-around;
}

.masthead_right_am {
	align-items: center;
	display: flex;
	flex: 0 1 auto;
	justify-content: space-around;
}

.promo_wrapper {
	align-items: center;
	display: flex;
}

.flexbox_search {
	display: flex;
  flex: 0 1 auto;
  justify-content: center;
}

.nav_search_scope {
	background-color: #dadada;
	border: 1px solid rgba(147,128,108,.25);
	border-radius: 4px 0 0 4px;
	font-size: 12px;
	padding: .5em .75em;
}

.nav_search_scope select {
	position: absolute;
  display: block;
  top: -1px;
  left: 0;
  height: 35px;
  width: auto;
  font-family: arial,sans-serif;
  outline: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
  border: 0;
  line-height: 35px;
}

.amazon_field {
	box-shadow: none;
	width: 381px;
}

.amazon_search {
	background-color: #febd69;
	border: none;
	padding: 0em 0.4em;
}

.nav_mm_button {
	font-size: 16px;
	font-weight: bold;
	padding: 6px 27px 0 15px;
}

.nav_mm_button a {
	color: #fff;
	line-height: 15px;
}

.nav-a {
	display: flex;
	flex-direction: column;
}

.nav-a-2 {
	color: #fff;
	padding: 0.5rem 0.1rem;
	display: flex;
  flex-direction: column;
  line-height:14px;
}

.nav-line-1 {
	font-size: 12px;
}

.nav-line-2 {
	font-size: 14px;
}

.nav-line-2 .icon_sm {
	color: #a7acb2;
}

.nav_shop_list {
	display: flex;
  flex-direction: row;
}

.nav_shop_list {
	color: #ccc;
	font-size: 13px;
  padding: 0;
}

.nav_shop_list li {
	margin-left: 25px;
}

.nav-tools {
	display: flex;
	flex: 1;
  justify-content: space-around;
}

.nav-tools .nav-line-2 {
	font-weight: bold;
}

.nav_cart {
	font-size: 35px;
	line-height: 25px;
}

.amazon_chev {
	color: #E1E6EA;
	font-size: 38px;
	margin-left: 15px;
}

.masthead_lower_am {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* NYT */
.shell {
	padding: 0 50px;
	position: relative;
}

.main_logo {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.masthead_right .header_button_nyt {
	background-color: #6288a5;
  border: 1px solid #4d7b9f;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
}

.masthead_menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 570px;
}

.masthead_lower_nyt {
  border-top: 1px solid #e2e2e2;
  border-bottom: 2px solid #000;
  padding: 8px 0;
  z-index: 1;
}

.masthead_lower_left {
	display: flex;
}

.masthead_lower_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.masthead_lower_right{
	display: flex;
	flex: 0 0 40%;
	justify-content: flex-end;
}

.masthead_menu li {
	padding: 0 10;
	font-size: 11px;
	line-height: 0.6875rem;
}
.masthead_left .header_button {
  background-color: transparent;
  border: none;
  color: #333;
  font-weight: 700;
  border: 1px solid transparent;
  padding: 0.1em 1em;
  margin-right: 5px;
}

.masthead_left .header_button:hover {
	background-color: #f7f7f5;
	border-radius: 3px;
}

.masthead_left .header_button .button_text {
	 margin-left:7px;
}

.nyt .fa-cog {
	color: #333;
	font-size: 18px;
}

.editions_tab {
	background-color: #fff;
	border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
	position: absolute;
	left: 43%;
	padding: 4px 9px 0;
	top: 30px;
	z-index: 9000;
}

.editions_menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: arial,helvetica,sans-serif;
	font-size: .7em;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

.editions_menu li {
	margin-left: 9px;
}

.masthead_mini_nav {
	display: flex;
	justify-content: center;
}

.mini_nav_menu {
	display: flex;
	flex-direction: row;
}

.mini-navigation-menu {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.mini-navigation-menu li {
	 padding: 0.2em 0.6em;
}

/* YouTube */
.masthead_left_yt {
	width: 140px;
}
.masthead_center_yt {
	width: 585px;
	height: 29px;
}

.burger_button_yt {
	align-items: center;
	color: #333;
	display: flex;
	height: 28px;
	padding: 0 10px;
}

.button_container_yt {
	border-color: #c6c6c6;
	border-radius: 2px;
	margin-left: 3px;
}

.button_container_yt:hover {
	background: #f0f0f0;
	border-color: #c6c6c6;
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
	margin-left: 3px;
}

.button_container_yt .fa-sort-desc {
	padding-left: 3px;
}